<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"></script>
  </head>
  <body>
    <div class="frame">
        <div class="main_frame">
        <div class="left_frame">
            <div class="left-1">
                <div class="left-1_img">
                    <img src="images/profile.png"
                    width="156px"
                    height="142px"/>
                </div>
                 <div class="left-1_name"><%=user.name%></div>
                <div class="left-1_job"><%=user.profession%></div>
                <div class="left_icons">
                    <a class="link_href" href="">
                    <div class="icon">
                    <img src="icon/Icons-dribbble.svg" class="icon_1"/>
                    
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Icons-facebook.svg" class="icon_1"/>
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Icons-instagram.svg" class="icon_1"/>
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Icons-twitter.svg" class="icon_1"/>
                    </div>
                </a>
                 <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Icons-Youtube.svg" class="icon_1"/>
                    </div>
                </a>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left-2">
                <div class="left-2_data">
                    <div class="left-2_data_left">Age</div>
                    <div class="left-2_data_right1"><%=user.age%></div>
                </div>
                <div class="left-2_data">
                    <div class="left-2_data_left">Residence</div>
                    <div class="left-2_data_right1"><%=user.residence%></div>
                </div>
                <div class="left-2_data">
                    <div class="left-2_data_left">Freelance:</div>
                    <div class="left-2_data_right1">Available</div>
                </div>
                <div class="left-2_data">
                    <div class="left-2_data_left">Address</div>
                    <div class="left-2_data_right1"><%=user.address%></div>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left-3">
                 <div class="left_language_1">Languages</div>
                     <div class="lan_css" >Uzbek<div>100%</div></div>
                 <div class="slider" ><div class="inside_slider Uzbek" style="width: 100%;"></div></div>
                 <div class="lan_css" >English <div>80%</div></div>
                 <div class="slider" ><div class="inside_slider korean" style="width: 80%;"></div></div>
                <div class="left_language">
                    <div class="lan_css">Russian<div>60%</div></div>
                    <div class="slider">
                        <div class="inside_slider russian" style="width: 60%;"></div>
                    </div>
            </div>
            </div>
             <div class="marginer"></div>
            <div class="left-4">
                 <div class="left_language_1">Skills</div>
                <div class="lan_css">Html<div>90%</div></div>
                <div class="slider" ><div class="inside_slider html" style="width: 90%;"></div></div>
                <div class="lan_css">CSS<div>85%</div></div>
                <div class="slider" ><div class="inside_slider css" style="width: 85%;"></div></div>
                <div class="lan_css">JavaScript<div>70%</div></div>
                <div class="slider" ><div class="inside_slider javascript" style="width: 70%;"></div></div>
                <div class="lan_css">Python<div>60%</div></div>
                <div class="slider" ><div class="inside_slider python" style="width: 60%;"></div></div>
                <div class="lan_css">Java<div>50%</div></div>
                <div class="slider" ><div class="inside_slider java" style="width: 50%;"></div></div>
            </div>
            <div class="marginer"></div>
            <div class="left-5">
                <div class="left_language_1">Extra Skills</div>
                 <a class="link_hrefi" href="">
                    <div class="iconn">
                        <img src="icon/Icons.svg" class="icon_2"/> <div>bootstrap, Matirialize</div>
                    </div>
                </a>
                  <a class="link_hrefi" href="">
                    <div class="iconn">
                        <img src="icon/Icons.svg" class="icon_2"/> <div>Stylus, Sass, Less</div>
                    </div>
                </a>
                  <a class="link_hrefi" href="">
                    <div class="iconn">
                        <img src="icon/Icons.svg" class="icon_2"/> <div>Gulp, Webpack, Grunt</div>
                    </div>
                </a>
                  <a class="link_hrefi" href="">
                    <div class="iconn">
                        <img src="icon/Icons.svg" class="icon_2"/> <div>GIT Knowledge</div>
                    </div>
                </a>
            </div>
            <div class="marginer"></div>
            <div class="left-6">
                <button class="download_cv_btn"> download CV
                <img src="service_icons/Frame.svg" alt=""></button>
            </div>
        </div>
        <div class="middle_frame">
            <div class="top_frame">
            <div class="left">
                <h1>Doctor neurologists in OHSU Hospital</h1>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                <button>Hire me</button>
            </div>
            <div class="right">  
                 <img src="images/Your Image 1.png"
                alt="Doctor neurologist in white coat examining patient in OHSU Hospital clinical setting, professional medical environment with equipment visible in background"
                width: 225.719px;
                height:359.09px;/>
            </div>
        </div>
        <div class="buttom_frame">
          <h1>My services</h1>
          <p class="p_lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, fugiat. Aliquid beatae mollitia eligendi doloremque atque quae numquam vero dolor corporis voluptatibus tenetur tempore .</p>
         
         
         
         
         
          <div class="first_row">

            <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>

              <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>

              <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>



          </div>



          <div class="second_row">

            <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>

              <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>

              <div class="service_box">
                <img src="service_icons/coding.svg" alt="">
                <h3>web development</h3>
                <p>blog, e-commerce</p>
            </div>



        </div>
    </div>
        </div>




        <div class="right_frame">
            <div class="Contrast_icon">
                <img src="service_icons/Contrast.svg" alt="">
            </div>
            <div class="Home_icon">
                <img src="service_icons/Home.svg" alt="">
            </div>
            
            <div class="File_code_icon">
                <img src="service_icons/file-code.svg" alt="">
            </div>

             <div class="cv_icon">
                <img src="service_icons/cv.svg" alt="">
            </div>

               <div class="Portfolio_icon">
                <img src="service_icons/Portfolio.svg" alt="">
            </div>

                <div class="Blog_icon">
                <img src="service_icons/Blog.svg" alt="">
            </div>

              <div class="Contact_icon">
                <img src="service_icons/Contact.svg" alt="">
            </div>
        </div>
        </div>
    </div>
  </body>

   <!-- <div class="top_frame"><div class="text">Doctor neurologists in OHSU Hospital </div>
        <div class="top_lorem">
        <div class="text_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>  </div><input type="button" class="top_title" value="Hire me ->"/></div>
         <div> <div class="top_img">
      
            </div>
            </div>
            </div>
        </div> -->